/* =================
font
================= */

@font-face {
  font-family: 'P3rman3nt-Book';
  src: url('./DINAMO_fonts/ABCP3rman3nt-Book-Trial.woff2') format('woff2'),
    url('./DINAMO_fonts/ABCP3rman3nt-Book-Trial.woff2') format('woff');
}

@font-face {
  font-family: 'P3rman3nt-Bold';
  src: url('./DINAMO_fonts/ABCP3rman3nt-Bold-Trial.woff2') format('woff2'),
    url('./DINAMO_fonts/ABCP3rman3nt-Bold-Trial.woff') format('woff');
}

#Diatype {
  font-family: P3rman3nt;
}
#DiatypeMono {
  font-family: DiatypeMono;
}
#DiatypeSemiMono {
  font-family: DiatypeSemiMono;
}

/* =================
body
================= */

body {
  position: relative;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

/* 
#    # ######   ##   #####  ###### #####  
#    # #       #  #  #    # #      #    # 
###### #####  #    # #    # #####  #    # 
#    # #      ###### #    # #      #####  
#    # #      #    # #    # #      #   #  
#    # ###### #    # #####  ###### #    # 
*/

header {
  background: #f8f8f8;
  padding: 2em 0;
  text-align: center;
  margin-bottom: 3em;
}

.notification {
  display: block;
  padding: 10px;
  background: red;
  text-align: center;
}

.notification > strong {
  color: #ffffff;
}

.notification > strong > p:first-of-type {
  font-size: 20px;
  font-weight: bolder;
}

.notification > strong > p + p {
  font-size: 16px;
  font-weight: normal;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}

@media screen and (max-width: 675px) {
  header {
    text-align: left;
  }
}

h1 {
  font-family: P3rman3nt-Bold;
  text-align: left;
  font-size: 2rem;
  margin: 0;
}

@media screen and (max-width: 1100px) {
  header {
    text-align: center;
  }

  h1 {
    text-align: center;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0;
}

/* navigation */

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

@media screen and (max-width: 675px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.5em 0;
  }
}

nav a {
  color: #707070;
  font-weight: 700;
  text-decoration: none;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

nav a:hover {
  text-decoration: underline;
}

/* 
#####   ####  #####  ##### ######  ####  #      #  ####         ####   ####  #    # #####   ##   # #    # ###### #####  
#    # #    # #    #   #   #      #    # #      # #    #       #    # #    # ##   #   #    #  #  # ##   # #      #    # 
#    # #    # #    #   #   #####  #    # #      # #    # ##### #      #    # # #  #   #   #    # # # #  # #####  #    # 
#####  #    # #####    #   #      #    # #      # #    #       #      #    # #  # #   #   ###### # #  # # #      #####  
#      #    # #   #    #   #      #    # #      # #    #       #    # #    # #   ##   #   #    # # #   ## #      #   #  
#       ####  #    #   #   #       ####  ###### #  ####         ####   ####  #    #   #   #    # # #    # ###### #    # 
*/

.portfolio-container,
.links-container,
.introduction-container {
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}

.portfolio-container,
.introduction-container {
  margin-top: 5rem;
}

.portfolio-container {
  text-align: center;
}

.links-container .contents-container {
  text-align: center;
}

.links-container .contents-container .contents {
  display: inline-block;
  text-align: left;
}

.introduction-container {
  text-align: left;
}

.portfolio > dt {
  font-size: 1.4rem;
  font-weight: bolder;
}

.portfolio > dd {
  margin-top: 1.25rem;
}

.sinder .portfolio-image-container {
  display: flex;
  flex-direction: column;
}

.sinder .portfolio-image-container .image-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.sinder .portfolio-image-container .gif-container {
  display: flex;
  flex-direction: row;
  gap: 3%;
  margin-top: 1.5rem;
}

.sinder .gif-wrapper, 
.sinder .image-wrapper {
  box-shadow: 0px 1px 5px;
  border: 1px solid gray;
}

.portfolio-details {
  text-align: left;
}

.portfolio-image-container a {
  box-shadow: 0px 1px 5px;
  border: 1px solid gray;
}

.portfolio-image-container img {
  object-fit: contain;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }
}

.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
  margin: 0;
}

/* =================
.contents
================= */
.table-of-contents .title,
.portfolio-container .title,
.links-container .title,
.introduction-container .title,
.contact-container .title {
  display: block;
  font-size: 2em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
  color: #143774;
}

.table-of-contents {
  width: 60%;
  margin: 0 auto;
  max-width: 900px;
}

.table-of-contents > .contents,
.portfolio-container > .contents,
.links-container .contents-container > .contents,
.introduction-container > .contents,
.contact-container > .contents {
  position: relative;
  line-height: 1.5;
  list-style: none;
  margin-top: 1rem;
}

.table-of-contents > .contents,
.portfolio-container > .contents {
  text-align: center;
}

.table-of-contents .contents::after {
  content: '';
  display: block;
  clear: both;
}

.portfolio-container > .contents > div:not(:first-of-type) {
  margin-top: 1.875rem;
}

.portfolio-container > .contents > .html-css-portfolio-container > ul {
  margin-top: 1.875rem;
}

.portfolio-container
  > .contents
  > .html-css-portfolio-container
  ul
  li:not(:first-of-type)
  h2 {
  margin-top: 1.875rem;
  font-size: 1.2rem;
}

.table-of-contents .contents > li {
  display: block;
  position: relative;
  text-align: right;
}

.table-of-contents > .contents li h2 {
  z-index: 1;
}

.table-of-contents > .contents > li:not(:last-of-type):after {
  content: '';
  display: inline-block;
  border-bottom: 1px dotted black;
  width: 100%;
}

.portfolio-container .contents > div dl {
  margin-top: 1.875rem;
}

.portfolio-container .contents div dl .portfolio:not(:first-of-type) {
  margin-top: 1.875rem;
}

.table-of-contents .contents > li > h2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
}

.table-of-contents .contents li ul li {
  position: relative;
}

.table-of-contents .contents li ul li h2 {
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
}

.file-individual {
  margin-bottom: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

/* =================
.container .container-flex 
================= */

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 675px) {
  .container-flex {
    flex-direction: row;
  }
}

.introduction-container .contents h2 {
  font-size: 2rem;
}

.introduction-container .contents .paragraph strong {
  font-size: 1.5rem;
}

.introduction-container .contents .paragraph,
.introduction-container .contents .paragraph p + p {
  margin-top: 2rem;
}

.introduction-container .contents .paragraph p:first-of-type {
  margin-top: 1rem;
}

@media screen and (max-width: 675px) {
  .links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.portfolio-title {
  font-size: 1.8rem;
  display: inline;
}

.portfolio-image-container {
  display: flex;
  flex-direction: row;
}

.portfolio.japanese .portfolio-image-container,
.portfolio.calendar .portfolio-image-container {
  display: block;
}

.portfolio-image-container a {
  display: inline-block;
}

.portfolio-image-container a img {
  object-fit: contain;
}

.portfolio-details {
  margin-top: 1rem;
}

.portfolio-details div {
  margin-top: 0.5rem;
}

.portfolio-details div .portfolio-body {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.portfolio-details div .portfolio-body li + li {
  margin-top: 0.3rem;
}

.portfolio-summary {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.514);
  padding: 0.5rem 0;

  padding-left: 0.5rem;
  border: 1px solid black;
  box-shadow: 0px 1px 5px;
}

i .fab fa-html5 {
  display: inline-block;
}

/* 
 ####   ####  #####   ####  #      #             ####   ####  #    # ##### #####   ####  #      #      ###### #####  
#      #    # #    # #    # #      #            #    # #    # ##   #   #   #    # #    # #      #      #      #    # 
 ####  #      #    # #    # #      #      ##### #      #    # # #  #   #   #    # #    # #      #      #####  #    # 
     # #      #####  #    # #      #            #      #    # #  # #   #   #####  #    # #      #      #      #####  
#    # #    # #   #  #    # #      #            #    # #    # #   ##   #   #   #  #    # #      #      #      #   #  
 ####   ####  #    #  ####  ###### ######        ####   ####  #    #   #   #    #  ####  ###### ###### ###### #    # 
*/

.scroll-controller {
  display: inline-block;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-align: center;
  border: 1px solid black;
  padding: 1.5rem;
  border-radius: 5rem;
}

#profile-image {
  width: 40%;
  margin: 0 auto;
  border: 1px solid gray;
  margin-bottom: 2rem;
}

@media screen and (max-width: 675px) {
  #profile-image {
    width: 60%;
  }
}

/* =================
.contact-container 
================= */

.contact-container {
  height: 100vh;
}

.contact-container .contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-container .contents div + div {
  margin-left: 30%;
}

.contact-container .contents .phone-container,
.contact-container .contents .email-container {
  display: inline-block;
}

/* =================
built-in tags
================= */

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline;
}

a {
  color: rgb(29, 25, 216);
  text-decoration: none;
}

img {
  max-width: 100%;
  margin-top: 0 auto;
  display: block;
}

a {
  color: #1792d2;
}

a:hover,
a:focus {
  color: #143774;
}

strong {
  font-weight: 700;
}

main {
  padding-bottom: 5rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.712);
  padding-bottom: 5px;
  color: white;
  width: 100%;
  height: 3.5vh;
  bottom: 0;
}

@media screen and (max-width: 565px) {
  .table-of-contents .contents > li {
    text-align: center;
  }

  .table-of-contents .contents > li > h2 {
    position: relative;
  }

  .table-of-contents .contents li ul li h2 {
    position: relative;
  }
}

/* reset */
h2 {
  margin-bottom: 0px;
}

li {
  list-style: none;
}

@media only screen {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
  }
}
