.nav {
  /* icons stick to each other */
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;

  border-top: 1px solid #f7f7f7;
}
.nav .nav__list {
  /* to make them horizontal */
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  /* position goes absolute to the body */
  position: absolute;
  top: -7px;
  right: -7px;
  font-size: 18px;
  color: white;
  background-color: #dc5d46;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
