#tags{
  display: inline-block;
}

li{
  list-style: none;
}

#grid{
  display: grid;
  /* grid-template-areas: 
    "form" "form" "form"
    "tags" "notes" "notes"
    "tags" "notes" "notes"
    "tags" "notes" "notes"; */
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
}

#form{
  /* grid-area: form; */
}

#tags{
  /* grid-area: tags */
  grid-column: 1 / 2;
}

#notes{
  grid-column: 2 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.individualNote{
  grid-column: auto;
  display: inline;
  border: 1px solid black;
  /* padding: 5px; */
  /* margin: 5px; */
  /* width: 300px; */
  
}