html, body{
  margin: 0;
}

body{
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  width: 100%;
  margin: 0 auto;
}

.title{
  text-align: center;
  /* font-size: xx-large; */
  /* background-color: whitesmoke;
  padding: 2rem;
  margin-top: 0; */
}

.instruction{
  text-align: center;
  font-weight: 700;
  border: 2px solid black;
  padding: 1rem;
  color: red;
  min-width: 70vw;
}

.container{
  /* border: 1px solid black; */
  /* margin: 5px; */
}

.canvasContainer{
  margin: 0;
}

#canvas{
  display: block;
  margin: 0 auto;
}

.playButtonContainer{
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.arrowButtonContainer{
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}




.scoreContainer{
  /* border: 1px solid black; */
  margin: 5px;
  text-align: center;
  padding-bottom: 1rem;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap */
}

.scoreGoalContainer{
  display: inline-flex;
  flex-direction: column;
}

.scoreEarnedContainer{
  display: inline-flex;
  flex-direction: column;
}
/* .scoreHeadingContainer{
  display: flex;
  border: 1.5px solid white;
  border-radius: 7%;
  margin: 1rem;
  padding: 1rem;
}

.scoreContentContainer{
  display: flex;
  border: 1.5px solid white;
  border-radius: 7%;
  margin: 1rem;
  padding: 1rem;
} */