@media screen and (orientation: landscape) and (max-width: 770px) {
  .no-mobile {
    position: absolute;
    z-index: 99;
    background-color: #ffcb05;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 26px;
    line-height: 130%;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid {
    max-height: 350px;
  }

  #no-mobile-title {
    display: block;
    font-family: 'PokemonSolid';
  }

  #no-mobile-alert {
    color: red;
    font-weight: bold;
  }

  #pokemonHeading,
  #item1,
  #item2 {
    display: none;
  }
}
